input[name="page-length-option_length"] {
    display: block !important;
    border: solid black 1px !important;
}

th,
td {
    text-align: center;
    border: 1px black solid;
    padding: 8px;
}

th {
    color: #272361 !important;
}

td {
    color: #00A99D;
}

input {
    color: #00A99D!important;
    width: 39%;
}

img {
    max-width: 280px;
    margin-top: 10px;
}

.fileupload {
    padding: 10px;
    margin: 10px 0 0 40px;
}

label {
    color: #00A99D !important;
    margin-left: 12px !important;
}

select {
    color: #00A99D !important;
}

.heading {
    font-weight: bold;
    color: #00A99D;
    text-transform: uppercase;
    font-family: auto;
    font-size: x-large;
    margin: 20px 0 15px 40px;
    text-decoration-line: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #00A99D;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #00A99D;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #00A99D;
}

.edit {
    background: #3949ab;
    background: -webkit-linear-gradient(45deg, #3949ab, #4fc3f7) !important;
    background: -moz- oldlinear-gradient(45deg, #3949ab, #4fc3f7) !important;
    background: -o-linear-gradient(45deg, #3949ab, #4fc3f7) !important;
    background: linear-gradient(45deg, #3949ab, #4fc3f7) !important;
}

.edit.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(79, 195, 247, .5) !important;
    box-shadow: 0 6px 20px 0 rgba(79, 195, 247, .5) !important;
}

.delete {
    background: rgb(255, 0, 0), ;
    background: -webkit-linear-gradient(45deg, rgb(255, 0, 0), #272361) !important;
    background: -moz- oldlinear-gradient(45deg, rgb(255, 0, 0), , #272361) !important;
    background: -o-linear-gradient(45deg, rgb(255, 0, 0), , #272361) !important;
    background: linear-gradient(45deg, rgb(255, 0, 0), , #272361) !important;
}

.delete.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 rgb(255, 0, 0), (0, 208, 245, 0.5) !important;
    box-shadow: 0 6px 20px 0 #272361(245, 124, 0, .5) !important;
}

.submit {
    background: #00A99D;
    background: -webkit-linear-gradient(45deg, #00A99D, #272361) !important;
    background: -moz- oldlinear-gradient(45deg, #00A99D, #272361) !important;
    background: -o-linear-gradient(45deg, #00A99D, #272361) !important;
    background: linear-gradient(45deg, #00A99D, #272361) !important;
}

.submit.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 #00A99D(0, 208, 245, 0.5) !important;
    box-shadow: 0 6px 20px 0 #272361(245, 124, 0, .5) !important;
}

.submit-1 {
    background: #272361;
    background: -webkit-linear-gradient(45deg, #272361, #00A99D) !important;
    background: -moz- oldlinear-gradient(45deg, #272361, #00A99D) !important;
    background: -o-linear-gradient(45deg, #272361, #00A99D) !important;
    background: linear-gradient(45deg, #272361, #00A99D) !important;
}

.submit-1.gradient-shadow {
    -webkit-box-shadow: 0 6px 20px 0 #272361(0, 208, 245, 0.5) !important;
    box-shadow: 0 6px 20px 0 #00A99D(245, 124, 0, .5) !important;
}

.sidenav .navigation-header .navigation-header-text {
    font-size: .85rem;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    margin: 0;
    padding: 0 !important;
    color: #272361 !important;
}

.sidenav .navigation-header .navigation-header-text:hover {
    background-color: transparent !important;
}

.color-02 {
    color: #00A99D;
}

.color-01 {
    color: #272361;
}


/* 
.scrollbar {
    margin-left: 23px;
    height: auto;
    overflow-y: scroll;
    margin-bottom: 25px;
    margin-right: 10px;
    max-height: 390px;
}

.force-overflow {
    min-height: 150px;
}

.scrollbar-morpheus-den::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.scrollbar-morpheus-den::-webkit-scrollbar {
    width: 12px;
}

.scrollbar-morpheus-den::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#00A99D), to(#272361));
    background-image: -webkit-linear-gradient(bottom, #00A99D 0%, #272361 100%);
    background-image: linear-gradient(to top, #00A99D 0%, #272361 100%);
}

.scrollbar-morpheus-den {
    scrollbar-color: #272361;
} */

.normalheading {
    padding: 12px;
    color: black !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}